.App {
  text-align: center;
  background-color: aquamarine;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.masterDiv {
 
text-align: center;
margin-top: 100px;
}

button {
  background-color: gold;
	background-color:#faba3a;
	border:px solid #d02718;
	cursor:pointer;
	font-family:Arial;
	font: size 15px;
	font-weight:bold;
}
